<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the Jinja2 Templating</title>
</head>
<body>
    {# This is the Comment #}
    <h1>This is the Jinja 2 Templating</h1>
    <p>Welcome to the Jinja2 templating example page.</p>
    
    <h3>The Marks of Rohan is {{marks['Rohan']}}</h3>
    <h3>The Marks of Sohan is {{marks['Sohan']}}</h3>
    <h3>The Marks of Mohan is {{marks['Mohan']}}</h3>
    
</body>
</html>